<!--The content below is only a placeholder and can be replaced.-->

  <div class="header" style="height:30px">
    <div style="width: 50%; float: left;">
      <i>{{ title }}</i>
    </div>
    <div style="width: 50%; text-align: right;  float: left;">
      {{ timeString }}
    </div>
  </div>
<div *ngIf="trainSchedule.length > 0 else noTrains">
  <div *ngFor="let train of trainSchedule; index as i; let even = even; let odd = odd" 
  style="height: 35px;">
    <div style="text-align: left; max-width:30px; width: 10%; float:left;">{{ i + 1 }}.</div>
    <div style="text-align: left; width: 45%; float:left;">{{ train.name }}</div>
    <div [class.arrived]="train.toaMins == 0" style="text-align: right; width: 45%; float:right;">{{ train.toa }}</div>
  </div>
</div>

<ng-template #noTrains>No trains at the moment</ng-template>
